@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Architects Daughter', cursive;
}
   input[type=button] 
{
background-color: cyan;
border: green;
color: purple;
font-weight: bold;
padding: 6px 20px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 20px;
margin: 4px 4px;
cursor: pointer;
box-shadow: 3px 3px 3px black;
}

input[type="text"]
{
border: solid;
color: black;
padding: 15px 32;
text-align: right;
text-decoration: none;
display: inline-block;
font-size: 20px;
margin: 4px 2px;
cursor: pointer;
width: 98%;
box-shadow: 3px 3px 3px black;
}

body
{
background-color: green;
}

table 
{
background-color: red;
padding: 5px 5px;
}
body {
    background: url('imagenes/fondo.jpg') no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative
}
button{
    color:black;
    font-size: 15px;
    font-weight: 400;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease
  }
button:hover {
    color: white;
    background:purple;
}